In [1]:
import pandas

In [2]:
import random as rd
rd.seed(0)

In [3]:
raw_data=pandas.read_csv("./titanic.csv")
raw_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
len(raw_data)

891

In [5]:
raw_data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [6]:
raw_data["Survived"]

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [7]:
raw_data[["Name", "Age"]]

                                                  Name   Age
0                              Braund, Mr. Owen Harris  22.0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0
2                               Heikkinen, Miss. Laina  26.0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0
4                             Allen, Mr. William Henry  35.0
..                                                 ...   ...
886                              Montvila, Rev. Juozas  27.0
887                       Graham, Miss. Margaret Edith  19.0
888           Johnston, Miss. Catherine Helen "Carrie"   NaN
889                              Behr, Mr. Karl Howell  26.0
890                                Dooley, Mr. Patrick  32.0

[891 rows x 2 columns]

In [8]:
sum(raw_data["Survived"])

342

In [9]:
raw_data["Cabin"]

0       NaN
1       C85
2       NaN
3      C123
4       NaN
       ...
886     NaN
887     B42
888     NaN
889    C148
890     NaN
Name: Cabin, Length: 891, dtype: object

In [10]:
raw_data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [11]:
clean_data=raw_data.drop("Cabin", axis=1)

In [12]:
clean_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,Q

In [13]:
median_age=clean_data["Age"].median()
clean_data["Age"]=clean_data["Age"].fillna(median_age)

In [14]:
clean_data["Age"]

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    28.0
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [15]:
clean_data["Embarked"]=clean_data["Embarked"].fillna("U")

In [16]:
clean_data.to_csv("./clean_titanic_data.csv", index=None)

## Feature engineering

In [17]:
preprocessed_data=pandas.read_csv("./clean_titanic_data.csv")

In [18]:
gender_columns=pandas.get_dummies(preprocessed_data["Sex"], prefix="Sex")
embarked_columns=pandas.get_dummies(preprocessed_data["Embarked"], prefix="Embarked")

In [19]:
preprocessed_data=pandas.concat([preprocessed_data, gender_columns], axis=1)
preprocessed_data=pandas.concat([preprocessed_data, embarked_columns], axis=1)

In [20]:
preprocessed_data=preprocessed_data.drop(["Sex", "Embarked"], axis=1)

In [21]:
categorized_pclass_columns=pandas.get_dummies(preprocessed_data["Pclass"], prefix="Pclass")
preprocessed_data=pandas.concat([preprocessed_data, categorized_pclass_columns], axis=1)
preprocessed_data=preprocessed_data.drop(["Pclass"], axis=1)

In [22]:
bins=[0,10,20,30,40,50,60,70,80]
categorized_age=pandas.cut(preprocessed_data["Age"], bins)
preprocessed_data["Categorized_age"]=categorized_age
preprocessed_data=preprocessed_data.drop(["Age"], axis=1)

In [23]:
categorized_age_columns=pandas.get_dummies(preprocessed_data["Categorized_age"])
preprocessed_data=pandas.concat([preprocessed_data, categorized_age_columns], axis=1)
preprocessed_data=preprocessed_data.drop(["Categorized_age"], axis=1)

In [24]:
preprocessed_data=preprocessed_data.drop(["Name", "Ticket", "PassengerId"], axis=1)
preprocessed_data

,Survived,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Embarked_U,...,Pclass_2,Pclass_3,"(0, 10]","(10, 20]","(20, 30]","(30, 40]","(40, 50]","(50, 60]","(60, 70]","(70, 80]"
0,0,1,0,7.2500,0,1,0,0,1,0,...,0,1,0,0,1,0,0,0,0,0
1,1,1,0,71.2833,1,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,1,0,0,7.9250,1,0,0,0,1,0,...,0,1,0,0,1,0,0,0,0,0
3,1,1,0,53.1000,1,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
4,0,0,0,8.0500,0,1,0,0,1,0,...,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,0,0,13.0000,0,1,0,0,1,0,...,1,0,0,0,1,0,0,0,0,0
887,1,0,0,30.0000,1,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
888,0,1,2,23.4500,1,0,0,0,1,0,...,0,1,0,0,1,0,0,0,0,0
889,1,0,0,30.0000,0,1,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
890,0,0,0,7.7500,0,1,0,1,0,0,...,0,1,0,0,0,1,0,0,0,0

In [25]:
pandas.set_option("display.max_columns", None)
preprocessed_data.head()

,Survived,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Embarked_U,Pclass_1,Pclass_2,Pclass_3,"(0, 10]","(10, 20]","(20, 30]","(30, 40]","(40, 50]","(50, 60]","(60, 70]","(70, 80]"
0,0,1,0,7.2500,0,1,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0
1,1,1,0,71.2833,1,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0
2,1,0,0,7.9250,1,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0
3,1,1,0,53.1000,1,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0
4,0,0,0,8.0500,0,1,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0

In [26]:
preprocessed_data.to_csv("./preprocessed_titanic_data.csv", index=None)

## Training our models

In [3]:
data = pandas.read_csv("preprocessed_titanic_data.csv")

In [4]:
data.head()

,Survived,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Embarked_U,...,Pclass_2,Pclass_3,"(0, 10]","(10, 20]","(20, 30]","(30, 40]","(40, 50]","(50, 60]","(60, 70]","(70, 80]"
0,0,1,0,7.2500,0,1,0,0,1,0,...,0,1,0,0,1,0,0,0,0,0
1,1,1,0,71.2833,1,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,1,0,0,7.9250,1,0,0,0,1,0,...,0,1,0,0,1,0,0,0,0,0
3,1,1,0,53.1000,1,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
4,0,0,0,8.0500,0,1,0,0,1,0,...,0,1,0,0,0,1,0,0,0,0

In [4]:
features=data.drop(["Survived"], axis=1)
labels=data["Survived"]

In [5]:
#Split of 60-40(Splits for training and validation)
from sklearn.model_selection import train_test_split
features_train, features_validation_test, labels_train, labels_validation_test=train_test_split(features, labels, test_size=0.4)

In [6]:
#Split of 0.5
#First we made the splits for training and validation and from validation's 40%, we made split for testing
features_validation, features_test, labels_validation, labels_test=train_test_split(features_validation_test, labels_validation_test, test_size=0.5)

In [11]:
print(len(features_train))
print(len(labels_train))
print(len(features_test))
print(len(labels_test))
print(len(features_validation))
print(len(labels_validation))

534
534
179
179
178
178

## Training models

In [7]:
from sklearn.linear_model import LogisticRegression
lr_model=LogisticRegression()
lr_model.fit(features_train, labels_train)

/mnt/d/Appsandgames/PyCharm/ML and Deep Learning/CodeWithHarry/ML Grooking/venv/lib/python3.6/site-packages/sklearn/linear_model/_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression()

In [8]:
from sklearn.tree import DecisionTreeClassifier
dt_model=DecisionTreeClassifier()
dt_model.fit(features_train, labels_train)

DecisionTreeClassifier()

In [9]:
from sklearn.naive_bayes import GaussianNB
nb_model=GaussianNB()
nb_model.fit(features_train, labels_train)

GaussianNB()

In [10]:
from sklearn.svm import SVC
svm_model=SVC()
svm_model.fit(features_train, labels_train)

SVC()

In [11]:
from sklearn.ensemble import RandomForestClassifier
rf_model=RandomForestClassifier()
rf_model.fit(features_train, labels_train)

RandomForestClassifier()

In [12]:
from sklearn.ensemble import GradientBoostingClassifier
gb_model=GradientBoostingClassifier()
gb_model.fit(features_train, labels_train)

GradientBoostingClassifier()

In [13]:
from sklearn.ensemble import AdaBoostClassifier
ab_model=AdaBoostClassifier()
ab_model.fit(features_train, labels_train)

AdaBoostClassifier()

In [19]:
# Scores
lr_model.score(features_validation, labels_validation)

0.7921348314606742

In [20]:
dt_model.score(features_validation, labels_validation)

0.8033707865168539

In [21]:
nb_model.score(features_validation, labels_validation)

0.7865168539325843

In [22]:
svm_model.score(features_validation, labels_validation)

0.6741573033707865

In [23]:
rf_model.score(features_validation, labels_validation)

0.8089887640449438

In [24]:
gb_model.score(features_validation, labels_validation)

0.8202247191011236

In [25]:
ab_model.score(features_validation, labels_validation)

0.797752808988764

In [17]:
# Recall, precision
from sklearn.metrics import precision_recall_fscore_support
lr_predicted_labels=lr_model.predict(features_validation)
precision_recall_fscore_support(labels_validation, lr_predicted_labels, average="binary")

(0.75, 0.65625, 0.7, None)

In [27]:
from sklearn.metrics import confusion_matrix
confusion_matrix(labels_validation,lr_predicted_labels)

array([[97, 10],
       [27, 44]])

In [28]:
# For F1 scores
from sklearn.metrics import f1_score
print("F1-scores")

print(f"Logistic Regression:{f1_score(labels_validation, lr_predicted_labels)}")

dt_predicted_labels=dt_model.predict(features_validation)
print(f"Decision Tree:{f1_score(labels_validation, dt_predicted_labels)}")

nb_predicted_labels=nb_model.predict(features_validation)
print(f"Naive Bayes {f1_score(labels_validation, nb_predicted_labels)}")

svm_predicted_labels=svm_model.predict(features_validation)
print(f"Support Vector Machine: {f1_score(labels_validation, svm_predicted_labels)}")

rf_predicted_labels=rf_model.predict(features_validation)
print(f"Random Forest:{f1_score(labels_validation,rf_predicted_labels)}")

gb_predicted_labels=gb_model.predict(features_validation)
print(f"Gradient boosting: {f1_score(labels_validation, gb_predicted_labels)}")

ab_predicted_labels=ab_model.predict(features_validation)
print(f"AdaBoost: {f1_score(labels_validation, ab_predicted_labels)}")

F1-scores
Logistic Regression:0.704
Decision Tree:0.7445255474452555
Naive Bayes 0.7205882352941175
Support Vector Machine: 0.3829787234042553
Random Forest:0.734375
Gradient boosting: 0.7460317460317459
AdaBoost: 0.7142857142857142

## XGBoost and Neural Networks

### XGBoost

In [40]:
#Changed all bracket values [10-20], [20-30] and all to 10_20, 20_30 since xgboost doesnt allow bracket values.
features_xg_train = features_train.set_axis(["SibSp", "Parch", "Fare", "Sex_female", "Sex_male", "Embarked_C", "Embarked_Q", "Embarked_S", "Embarked_U", "Pclass_1", "Pclass_2", "Pclass_3", "0_10", "10_20", "20_30", "30_40", "40_50", "50_60", "60_70", "70_80"], axis=1)

In [45]:
features_xg_validation = features_validation.set_axis(["SibSp", "Parch", "Fare", "Sex_female", "Sex_male", "Embarked_C", "Embarked_Q", "Embarked_S", "Embarked_U", "Pclass_1", "Pclass_2", "Pclass_3", "0_10", "10_20", "20_30", "30_40", "40_50", "50_60", "60_70", "70_80"], axis=1)

In [52]:
#Used XGBClassifier here since its a classification problem
import xgboost
from xgboost import XGBClassifier
xgboost_classifier= XGBClassifier(random_state=0, n_estimators=3, max_depth=2, min_split_loss=1, learning_rate=0.7)
xgboost_classifier.fit(features_xg_train, labels_train)
xgboost_classifier.score(features_xg_validation, labels_validation)

/mnt/d/Appsandgames/PyCharm/ML and Deep Learning/CodeWithHarry/ML Grooking/venv/lib/python3.6/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[18:41:01] WARNING: ../src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

0.797752808988764

In [53]:
xgboost_predicted_labels=xgboost_classifier.predict(features_xg_validation)
precision_recall_fscore_support(labels_validation, xgboost_predicted_labels, average="binary")

(0.9069767441860465, 0.5492957746478874, 0.6842105263157895, None)

### Neural Networks

In [84]:
# Error in NN model since it never predicts 1 so i'll leave it just here.
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout

model=Sequential()
model.add(Dense(128, activation="relu"))
model.add(Dropout(.2))
model.add(Dense(64, activation="relu"))
model.add(Dropout(.2))
model.add(Dense(1, activation="sigmoid"))

model.compile(loss="categorical_crossentropy", optimizer="adam", metrics=["accuracy"])
model.fit(features_train, labels_train,epochs=10, batch_size=10)

Epoch 1/10
54/54 [==============================] - 4s 20ms/step - loss: 0.0000e+00 - accuracy: 0.5918
Epoch 2/10
54/54 [==============================] - 1s 12ms/step - loss: 0.0000e+00 - accuracy: 0.6011
Epoch 3/10
54/54 [==============================] - 1s 14ms/step - loss: 0.0000e+00 - accuracy: 0.6011
Epoch 4/10
54/54 [==============================] - 1s 13ms/step - loss: 0.0000e+00 - accuracy: 0.6011
Epoch 5/10
54/54 [==============================] - 1s 11ms/step - loss: 0.0000e+00 - accuracy: 0.6011
Epoch 6/10
54/54 [==============================] - 1s 9ms/step - loss: 0.0000e+00 - accuracy: 0.6011
Epoch 7/10
54/54 [==============================] - 1s 13ms/step - loss: 0.0000e+00 - accuracy: 0.6011
Epoch 8/10
54/54 [==============================] - 1s 13ms/step - loss: 0.0000e+00 - accuracy: 0.6011
Epoch 9/10
54/54 [==============================] - 1s 12ms/step - loss: 0.0000e+00 - accuracy: 0.6011
Epoch 10/10
54/54 [==============================] - 1s 24ms/step - loss: 0.0000e+00 - accuracy: 0.6011

In [88]:
# As we see even NN sends a warning here. That's why.
neuralnetworks_predicted_labels=model.predict(features_validation)
precision_recall_fscore_support(labels_validation, neuralnetworks_predicted_labels, average="binary")

/mnt/d/Appsandgames/PyCharm/ML and Deep Learning/CodeWithHarry/ML Grooking/venv/lib/python3.6/site-packages/sklearn/metrics/_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

(0.0, 0.0, 0.0, None)

## Testing phase

In [89]:
gb_model.score(features_test, labels_test)

0.8156424581005587

In [90]:
# F1-score
gb_predicted_test_labels=gb_model.predict(features_test)
f1_score(labels_test, gb_predicted_test_labels)

0.6857142857142856

In [ ]:
gb_predicted_test_labels=gb_model.predict(features_test)
f1_score(labels_test, gb_predicted_test_labels)

## Grid search

In [22]:
svm_1_1=SVC(kernel="rbf", C=1, gamma=1)
svm_1_1.fit(features_train, labels_train)

svm_1_10=SVC(kernel="rbf", C=1, gamma=10)
svm_1_10.fit(features_train, labels_train)

svm_10_1=SVC(kernel="rbf", C=10, gamma=1)
svm_10_1.fit(features_train, labels_train)

svm_10_10=SVC(kernel="rbf", C=10, gamma=10)
svm_10_10.fit(features_train, labels_train)

SVC(C=10, gamma=10)

In [23]:
svm_1_01=SVC(kernel="rbf", C=1, gamma=0.1)
svm_1_01.fit(features_train, labels_train)

svm_10_01=SVC(kernel="rbf", C=10, gamma=0.1)
svm_10_01.fit(features_train, labels_train)

SVC(C=10, gamma=0.1)

In [12]:
svm_1_1.score(features_validation, labels_validation)

0.7471910112359551

In [13]:
svm_1_10.score(features_validation, labels_validation)

0.6629213483146067

In [14]:
svm_10_1.score(features_validation, labels_validation)

0.7415730337078652

In [15]:
svm_10_10.score(features_validation, labels_validation)

0.6573033707865169

In [18]:
svm_1_01.score(features_validation, labels_validation)

0.797752808988764

In [19]:
svm_10_01.score(features_validation, labels_validation)

0.7640449438202247

In [24]:
from sklearn.model_selection import GridSearchCV
svm_parameters={"kernel":["rbf"],
               "C":[0.01, 0.1, 1, 10, 100], 
               "gamma": [0.01, 0.1, 1, 10, 100]
               }
svm=SVC()
svm_gs=GridSearchCV(estimator=svm,
                    param_grid=svm_parameters)
svm_gs.fit(features_train, labels_train)

GridSearchCV(estimator=SVC(),
             param_grid={'C': [0.01, 0.1, 1, 10, 100],
                         'gamma': [0.01, 0.1, 1, 10, 100], 'kernel': ['rbf']})

In [25]:
svm_winner=svm_gs.best_estimator_
svm_winner.score(features_validation, labels_validation)

0.8033707865168539

In [21]:
svm_winner

SVC(C=100, gamma=0.01)

In [26]:
from sklearn.model_selection import GridSearchCV
gb_parameters={
               "max_depth":[2, 3, 4, 5], 
               "learning_rate": [0.01, 0.1, 0.5, 0.8],
               "n_estimators":[2,3,4,5]
               }
svm=GradientBoostingClassifier()
gb_gs=GridSearchCV(estimator=GradientBoostingClassifier(),
                    param_grid=gb_parameters)
gb_gs.fit(features_train, labels_train)

GridSearchCV(estimator=GradientBoostingClassifier(),
             param_grid={'learning_rate': [0.01, 0.1, 0.5, 0.8],
                         'max_depth': [2, 3, 4, 5],
                         'n_estimators': [2, 3, 4, 5]})

In [27]:
gb_winner=gb_gs.best_estimator_
gb_winner.score(features_validation, labels_validation)

0.7921348314606742

In [38]:
svm_gs.cv_results_

{'mean_fit_time': array([0.01870332, 0.01345448, 0.01504035, 0.01438279, 0.01255941,
        0.01414638, 0.01526394, 0.01541705, 0.01581507, 0.02173781,
        0.01439943, 0.01525593, 0.0151782 , 0.01503549, 0.01983585,
        0.01705885, 0.02064347, 0.01837387, 0.01589184, 0.0159327 ,
        0.02198753, 0.02823625, 0.02812924, 0.01615777, 0.0145237 ]),
 'std_fit_time': array([0.00515256, 0.00042133, 0.00101499, 0.00172497, 0.00043179,
        0.00070883, 0.00054735, 0.00048281, 0.00074155, 0.0126205 ,
        0.00048162, 0.00107209, 0.00081031, 0.00070764, 0.00512792,
        0.0016255 , 0.00290245, 0.00116143, 0.0011702 , 0.00393522,
        0.00202073, 0.00653703, 0.00495191, 0.00045579, 0.00119506]),
 'mean_score_time': array([0.0081779 , 0.00563459, 0.00610909, 0.00610785, 0.00561643,
        0.00628409, 0.00647917, 0.00639138, 0.00723891, 0.00665517,
        0.00631857, 0.00558925, 0.00619726, 0.00669689, 0.0088841 ,
        0.00604787, 0.00620623, 0.00569158, 0.0063395 , 0.00635314,
        0.0046567 , 0.00550385, 0.00573225, 0.00557342, 0.00526967]),
 'std_score_time': array([0.00328589, 0.00013508, 0.00023083, 0.00073884, 0.00041931,
        0.00047613, 0.00056672, 0.00059145, 0.00213418, 0.00065579,
        0.00050101, 0.00034721, 0.00090729, 0.00090721, 0.00355967,
        0.00107587, 0.00132727, 0.0003183 , 0.00226055, 0.00201016,
        0.00020358, 0.00086112, 0.00046811, 0.00019595, 0.00019023]),
 'param_C': masked_array(data=[0.01, 0.01, 0.01, 0.01, 0.01, 0.1, 0.1, 0.1, 0.1, 0.1,
                    1, 1, 1, 1, 1, 10, 10, 10, 10, 10, 100, 100, 100, 100,
                    100],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False],
        fill_value='?',
             dtype=object),
 'param_gamma': masked_array(data=[0.01, 0.1, 1, 10, 100, 0.01, 0.1, 1, 10, 100, 0.01,
                    0.1, 1, 10, 100, 0.01, 0.1, 1, 10, 100, 0.01, 0.1, 1,
                    10, 100],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['rbf', 'rbf', 'rbf', 'rbf', 'rbf', 'rbf', 'rbf', 'rbf',
                    'rbf', 'rbf', 'rbf', 'rbf', 'rbf', 'rbf', 'rbf', 'rbf',
                    'rbf', 'rbf', 'rbf', 'rbf', 'rbf', 'rbf', 'rbf', 'rbf',
                    'rbf'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 0.01, 'gamma': 0.01, 'kernel': 'rbf'},
  {'C': 0.01, 'gamma': 0.1, 'kernel': 'rbf'},
  {'C': 0.01, 'gamma': 1, 'kernel': 'rbf'},
  {'C': 0.01, 'gamma': 10, 'kernel': 'rbf'},
  {'C': 0.01, 'gamma': 100, 'kernel': 'rbf'},
  {'C': 0.1, 'gamma': 0.01, 'kernel': 'rbf'},
  {'C': 0.1, 'gamma': 0.1, 'kernel': 'rbf'},
  {'C': 0.1, 'gamma': 1, 'kernel': 'rbf'},
  {'C': 0.1, 'gamma': 10, 'kernel': 'rbf'},
  {'C': 0.1, 'gamma': 100, 'kernel': 'rbf'},
  {'C': 1, 'gamma': 0.01, 'kernel': 'rbf'},
  {'C': 1, 'gamma': 0.1, 'kernel': 'rbf'},
  {'C': 1, 'gamma': 1, 'kernel': 'rbf'},
  {'C': 1, 'gamma': 10, 'kernel': 'rbf'},
  {'C': 1, 'gamma': 100, 'kernel': 'rbf'},
  {'C': 10, 'gamma': 0.01, 'kernel': 'rbf'},
  {'C': 10, 'gamma': 0.1, 'kernel': 'rbf'},
  {'C': 10, 'gamma': 1, 'kernel': 'rbf'},
  {'C': 10, 'gamma': 10, 'kernel': 'rbf'},
  {'C': 10, 'gamma': 100, 'kernel': 'rbf'},
  {'C': 100, 'gamma': 0.01, 'kernel': 'rbf'},
  {'C': 100, 'gamma': 0.1, 'kernel': 'rbf'},
  {'C': 100, 'gamma': 1, 'kernel': 'rbf'},
  {'C': 100, 'gamma': 10, 'kernel': 'rbf'},
  {'C': 100, 'gamma': 100, 'kernel': 'rbf'}],
 'split0_test_score': array([0.61682243, 0.61682243, 0.61682243, 0.61682243, 0.61682243,
        0.68224299, 0.61682243, 0.61682243, 0.61682243, 0.61682243,
        0.64485981, 0.70093458, 0.75700935, 0.65420561, 0.64485981,
        0.75700935, 0.71028037, 0.75700935, 0.6635514 , 0.64485981,
        0.73831776, 0.69158879, 0.76635514, 0.65420561, 0.64485981]),
 'split1_test_score': array([0.61682243, 0.61682243, 0.61682243, 0.61682243, 0.61682243,
        0.65420561, 0.61682243, 0.61682243, 0.61682243, 0.61682243,
        0.6635514 , 0.72897196, 0.65420561, 0.60747664, 0.61682243,
        0.75700935, 0.73831776, 0.6728972 , 0.60747664, 0.61682243,
        0.77570093, 0.72897196, 0.65420561, 0.61682243, 0.61682243]),
 'split2_test_score': array([0.61682243, 0.61682243, 0.61682243, 0.61682243, 0.61682243,
        0.6728972 , 0.61682243, 0.61682243, 0.61682243, 0.61682243,
        0.65420561, 0.78504673, 0.76635514, 0.6635514 , 0.65420561,
        0.75700935, 0.76635514, 0.76635514, 0.64485981, 0.64485981,
        0.74766355, 0.75700935, 0.73831776, 0.65420561, 0.64485981]),
 'split3_test_score': array([0.60747664, 0.60747664, 0.60747664, 0.60747664, 0.60747664,
        0.62616822, 0.60747664, 0.60747664, 0.60747664, 0.60747664,
        0.62616822, 0.74766355, 0.73831776, 0.65420561, 0.65420561,
        0.73831776, 0.76635514, 0.71028037, 0.65420561, 0.64485981,
        0.79439252, 0.72897196, 0.69158879, 0.65420561, 0.64485981]),
 'split4_test_score': array([0.61320755, 0.61320755, 0.61320755, 0.61320755, 0.61320755,
        0.67924528, 0.61320755, 0.61320755, 0.61320755, 0.61320755,
        0.67924528, 0.76415094, 0.68867925, 0.62264151, 0.62264151,
        0.78301887, 0.78301887, 0.71698113, 0.62264151, 0.62264151,
        0.77358491, 0.71698113, 0.68867925, 0.63207547, 0.63207547]),
 'mean_test_score': array([0.61423029, 0.61423029, 0.61423029, 0.61423029, 0.61423029,
        0.66295186, 0.61423029, 0.61423029, 0.61423029, 0.61423029,
        0.65360607, 0.74535355, 0.72091342, 0.64041615, 0.63854699,
        0.75847293, 0.75286546, 0.72470464, 0.63854699, 0.63480868,
        0.76593193, 0.72470464, 0.70782931, 0.64230294, 0.63669547]),
 'std_test_score': array([0.00365556, 0.00365556, 0.00365556, 0.00365556, 0.00365556,
        0.02081377, 0.00365556, 0.00365556, 0.00365556, 0.00365556,
        0.01780994, 0.02889854, 0.04280129, 0.02152435, 0.0158441 ,
        0.01424893, 0.02568383, 0.03385286, 0.02063306, 0.01244686,
        0.02029918, 0.02114865, 0.03965047, 0.01535499, 0.01110182]),
 'rank_test_score': array([17, 17, 17, 17, 17,  9, 17, 17, 17, 17, 10,  4,  7, 12, 13,  2,  3,
         5, 13, 16,  1,  5,  8, 11, 15], dtype=int32)}

## Test data

In [14]:
test_preprocessed_data=pandas.read_csv("./test_preprocessed_data.csv")
test_preprocessed_data.head()

,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3,"Categorized_age_(0, 10]","Categorized_age_(10, 20]","Categorized_age_(20, 30]","Categorized_age_(30, 40]","Categorized_age_(40, 50]","Categorized_age_(50, 60]","Categorized_age_(60, 70]","Categorized_age_(70, 80]",Pclass_U
0,0,0,7.8292,0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0
1,1,0,7.0000,1,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0
2,0,0,9.6875,0,1,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0
3,0,0,8.6625,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0
4,1,1,12.2875,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0

In [15]:
median_fare=test_preprocessed_data["Fare"].median()
test_preprocessed_data["Fare"]=test_preprocessed_data["Fare"].fillna(median_fare)

In [18]:
# For F1 scores
from sklearn.metrics import f1_score
print("F1-scores")

print(f"Logistic Regression:{f1_score(labels_validation, lr_predicted_labels)}")

dt_predicted_labels=dt_model.predict(features_validation)
print(f"Decision Tree:{f1_score(labels_validation, dt_predicted_labels)}")

nb_predicted_labels=nb_model.predict(features_validation)
print(f"Naive Bayes {f1_score(labels_validation, nb_predicted_labels)}")

svm_predicted_labels=svm_model.predict(features_validation)
print(f"Support Vector Machine: {f1_score(labels_validation, svm_predicted_labels)}")

rf_predicted_labels=rf_model.predict(features_validation)
print(f"Random Forest:{f1_score(labels_validation,rf_predicted_labels)}")

gb_predicted_labels=gb_model.predict(features_validation)
print(f"Gradient boosting: {f1_score(labels_validation, gb_predicted_labels)}")

ab_predicted_labels=ab_model.predict(features_validation)
print(f"AdaBoost: {f1_score(labels_validation, ab_predicted_labels)}")

F1-scores
Logistic Regression:0.7
Decision Tree:0.7704918032786885
Naive Bayes 0.5473684210526316
Support Vector Machine: 0.39080459770114945
Random Forest:0.7833333333333332
Gradient boosting: 0.7692307692307692
AdaBoost: 0.7441860465116279

In [32]:
test_lr=lr_model.predict(test_preprocessed_data)
test_dt=dt_model.predict(test_preprocessed_data)
test_nb=nb_model.predict(test_preprocessed_data)
test_svm=svm_model.predict(test_preprocessed_data)
test_rf=rf_model.predict(test_preprocessed_data)
test_gb=gb_model.predict(test_preprocessed_data)
test_ab=ab_model.predict(test_preprocessed_data)
test_svmgswinner= svm_gs.predict(test_preprocessed_data)

In [33]:
print(sum(test_lr))
print(sum(test_dt))
print(sum(test_nb))
print(sum(test_svm)) #Not considered since really weak. Use winner instead.
print(sum(test_rf))
print(sum(test_gb))
print(sum(test_ab))
print(sum(test_svmgswinner))

168
189
184
73
171
168
223
169