In [1]:
import pandas as pd
import numpy as np

In [2]:
emails=pd.read_csv("emails.csv")

In [3]:
emails.head()

                                                text  spam
0  Subject: naturally irresistible your corporate...     1
1  Subject: the stock trading gunslinger  fanny i...     1
2  Subject: unbelievable new homes made easy  im ...     1
3  Subject: 4 color printing special  request add...     1
4  Subject: do not have money , get software cds ...     1

In [4]:
def process_email(text):
    text=text.lower()
    return list(set(text.split()))

In [5]:
emails["words"] = emails['text'].apply(process_email)

In [6]:
emails.head()

,text,spam,words
0,Subject: naturally irresistible your corporate...,1,"[specially, changes, creativeness, ;, letsyou,..."
1,Subject: the stock trading gunslinger fanny i...,1,"[is, edt, the, chisel, chesapeake, penultimate..."
2,Subject: unbelievable new homes made easy im ...,1,"[approved, is, of, opportunity, pittman, 72, w..."
3,Subject: 4 color printing special request add...,1,"[click, goldengraphix, 91706, azusa, is, print..."
4,"Subject: do not have money , get software cds ...",1,"[do, is, marriage, !, compatibility, great, th..."

In [7]:
sum(emails["spam"])/len(emails)

0.2388268156424581

In [8]:
model={}

for index, email in emails.iterrows():
    for word in email["words"]:
        if word not in model:
            model[word]={"spam":1, "ham":1}
        if word in model:
            if email['spam']:
                model[word]['spam']+=1
            else:
                model[word]['ham']+=1

In [36]:
def predict_naive_bayes(email):
    total=len(emails)
    num_spam=sum(emails["spam"])
    num_ham=total-num_spam
    email=email.lower()
    words = set(email.split())
    spams=[1.0]
    hams=[1.0]
    for word in words:
        if word in model:
            spams.append(model[word]["spam"]/num_spam*total)
            hams.append(model[word]["ham"]/num_ham*total)
    prod_spams=np.long(np.prod(spams)*num_spam)
    prod_hams=np.long(np.prod(hams)*num_ham)
    return prod_spams/(prod_spams+prod_hams)

In [46]:
print(predict_naive_bayes("Hi mom how are you"))
print(predict_naive_bayes("meet me at the lobby of the hotel at nine am"))

0.12554358867164464
6.964603508395961e-05

In [45]:
print(predict_naive_bayes("buy cheap lottery easy money now"))
print(predict_naive_bayes("asdfgh"))

0.999973472265966
0.2388268156424581